.g-index {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // height: 100vh;

  .area-tags{
    width: 100%;
    display: flex;
    justify-content: space-around;
    .at-tag--small {
      height: 60rpx;
      font-size: 30rpx;
      line-height: 54rpx;
    }
  }
  .use{
    margin: 20rpx;
    height:80rpx;
    box-shadow: 0 2PX 5PX #eeeeee;
    background-color: white;
    padding:10PX 20PX;
    border-radius: 16rpx;
  }
}







